# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\work\go-lang\sdm.demo.golang.sqlite3.todolist\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
